* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 70px 20px;
    margin: 10px;
}

.inner_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p,
h2 {
    text-align: center;
    padding: 20px 0;
}

p {
    color: #a3a0a5;

}

button {
    background: none;
    border: 1px solid black;
    padding: 10px 30px;
}