* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 24px;
    color: #ffffff;
}

.blue_blocks {
    width: 600px;
    margin: auto;
}

.wrap_widgets {
    margin: 10px 0;
}

.widgets,
.contact {
    background: #246ABBFF;
    text-align: center;
}

.widgets,
.box,
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.widgets {
    height: 200px;
}

.wrap_widgets {
    display: flex;
    justify-content: space-between;
}

.box {
    background: #18467b;
    text-align: center;
    height: 180px;
    width: 190px;
}

.contact {
    height: 500px;
}